:root {
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-block-size: 99vh;
  padding: 0rem;
}

.body > * {
  margin-block: 1rem;
}

.body > :last-child:not(.centered) {
  margin-block-end: 0;
}

.body > .centered {
  margin-block: auto;
}